@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #151515;
  --primary-text-color: #ffffff;
  --secondary-text-color: #cacaca;
  --tertiary-text-color: #575757;
  --light-accent-color: #e25d1f;
  --brand-color: #e21a59;
  --button-bg-color: linear-gradient(90deg, #e21a59 0%, #e25d1f 100%);
  --font-primary: "Russo One", sans-serif;
  --font-secondary: "Inter", sans-serif;

  --color-eyebrow: var(--light-accent-color);
  --color-text-light: var(--primary-text-color);
  --font-eyebrow: var(--font-secondary);
  --font-title: var(--font-primary);
  --color-primary: var(--light-accent-color);
  --color-light-gray: var(--secondary-text-color);
  --color-dark-gray: var(--tertiary-text-color);
  --color-pink: var(--brand-color);
  --color-black: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
