*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Inter:wght@400;700&display=swap");

:root {
  --background-color: #151515;
  --primary-text-color: #ffffff;
  --secondary-text-color: #cacaca;
  --tertiary-text-color: #575757;
  --light-accent-color: #e25d1f;
  --brand-color: #e21a59;
  --font-primary: "Russo One", sans-serif; /* для заголовків */
  --font-secondary: "Inter", sans-serif; /* для тексту */
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

:root {
    --color-eyebrow: #e25d1f; 
    --color-text-light: #FFFFFF;
    --font-eyebrow: 'Inter', sans-serif;
    --font-title: 'Russo One', sans-serif;
    --color-primary: #e25d1f;
    --color-light-gray: #cacaca;
    --color-dark-gray: #575757;
    --color-pink: #e21a59;
    --color-black: #000000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 32px;

}

.hero {
  padding-top: 90px;
}
