.scroll-to-cta {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--brand-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll-to-cta:hover {
  background-color: var(--light-accent-color);
  transform: scale(1.1);
}

.scroll-to-cta svg {
  transition: transform 0.3s ease;
}

.scroll-to-cta--top svg {
  transform: rotate(180deg);
}

.scroll-to-cta:hover svg {
  transform: translateY(2px);
}

.scroll-to-cta--top:hover svg {
  transform: rotate(180deg) translateY(-2px);
}