.mission {
  background-image: url(../img/dark-banner.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.mission__inner {
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  align-items: start;
}

.mission__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 0 40px;
}

.mission__subtitle {
  font-family: var(--font-eyebrow);
  color: var(--color-eyebrow);
}

.mission__title-main {
  font-family: var(--font-title);
  color: var(--color-text-light);
  font-size: 34px;
  margin-top: 20px;
}

.mission__description-main {
  font-family: var(--font-secondary);
  color: var(--color-light-gray);
  font-size: 17px;
}

.mission__beliefs-title {
  font-family: var(--font-secondary);
  color: var(--color-light-gray);
  font-size: 14px;
  text-decoration: underline;
  text-decoration-color: var(--color-light-gray);
  text-decoration-thickness: 1px;
}

.mission__beliefs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: beliefs;
}

.mission__beliefs-item {
  counter-increment: beliefs;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
}

.mission__beliefs-item-title {
  font-family: var(--font-title);
  color: var(--color-text-light);
  font-size: 22px;
}

.mission__beliefs-item::before {
  content: counter(beliefs, decimal-leading-zero); /* 01, 02, 03 */
  position: absolute;
  left: -5px;
  top: 0;
  font-family: var(--font-secondary);
  color: var(--tertiary-text-color);
  font-size: 28px;
}

.mission__beliefs-item-desc {
  font-family: var(--font-secondary);
  color: var(--color-light-gray);
  font-size: 14px;
}

.mission__cta-button {
  background: var(--button-bg-color);
  color: var(--primary-text-color);
  font-family: var(--font-secondary);
  width: fit-content;
  border-radius: 32px;
  cursor: pointer;
  padding: 12px 20px;
}

@media (min-width: 768px) {
  .mission__inner {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }

  .mission__content {
    padding: 0 40px;
    height: 100%;
    justify-content: flex-start;
  }

  .mission__cta-button {
    margin-top: auto;
    transform: translateY(12px);
  }

  .mission__beliefs-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 280px;
  }

  .mission__beliefs-item {
    margin-bottom: 0;
  }

  .mission__inner {
    max-width: 1240px;
  }
}

.mission__image {
  margin: auto;
  width: 272px;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .mission__image {
    width: 400px;
  }
}