.index-cta {
  padding: 60px 20px;
  font-family: var(--font-primary);
}

.index-cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .index-cta__title {
    font-size: 2.5rem;
    color: var(--primary-text-color);
    margin-bottom: 20px;
  }
}

.index-cta__contacts {
  display: flex;
    flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;

  .index-cta__contact {
    text-decoration-style: solid;
    .index-cta__label {
      font-size: 22px;
      color: var(--primary-text-color);
      margin-bottom: 5px;
    }
    .index-cta__link {
      font-size: 22px;
      color: var(--light-accent-color);
      text-decoration: underline;
      transition: color 0.3s ease;

    &:hover {
      color: var(--brand-color);
    }
  }
}

.index-cta__button {
  padding: 15px 30px;
  font-size: 18px;
  color: var(--primary-text-color);
  background-color: var(--light-accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--brand-color);
  }
}